/* Scrollbar design */
.scrollbar {
    overflow: hidden scroll;
}
.scrollbar::-webkit-scrollbar {
  width: 0.3rem;
}
.scrollbar::-webkit-scrollbar-track {
  width: 0.1rem;
  background-color: rgb(236, 245, 245);
  border-radius: 3rem;
}
.scrollbar::-webkit-scrollbar-thumb {
  width: 0.05rem;
  background-color: rgb(4, 59, 69);
  border-radius: 2.5rem;
}
